{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Datos Carreras{% endblock %}
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/tablas.css' %}">-->
{% block extrahead %}

{% endblock %}

{% block content %}
<h2>Catálogo Carreras</h2>

<div id="datos">
<div class="container">
<table id="tabla" class="table table-hover results">
  <thead id="tblhead" align="center">
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% if carreras %}
    {% for carrera in carreras %}
    <tr>
      <td>{{ carrera.id }}</td>
      <td>{{ carrera.nombre }}</td>
      <td>
        
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <h1>No hay registros</h1>
    {% endif %}
  </tbody>
</table>
</div>
</div>
<script>
    $(document).ready(function(){
       $('#tabla').DataTable();
      });
    
  </script>
{% endblock %}