{% extends 'base/base.html' %}

{% load crispy_forms_tags %}

{% block title %} Validar datos {% endblock %}

{% block content %}
<h2>Validar Calificación</h2>
</br>
<div class="container">
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
          <div class="form-group">
            {{ form.calificacion|as_crispy_field }}
          </div>
      </div>
      <div class="col-md-4 col-md-offset-2">
          <div class="form-group">
            {{ form.fecha|as_crispy_field }}
          </div>
      </div>
      <div class="col-md-4 col-md-offset-2">
          <div class="form-group">
            {{ form.id_tipo_calificacion|as_crispy_field }}
          </div>
      </div>
      <div class="container" align="center" style="margin-top: 25px;">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}